.addTask {
    width: 100%;
    padding: 8px;
}

.addTask textarea {
    height: 60px;
    font-size: 12px;
    width: 100%;
    margin: 0;
    padding: 4px 8px;
    border-radius: 8px;
    resize: none;
}

.addTask textarea:active,
.addTask textarea:focus {
    outline: none;
    border: 1px solid #2196F3;
}

.addTask div.controls {
    text-align: right;
}

.addTask div.controls button {
    font-size: 14px;
}
