.btn {
    cursor: pointer;
    border: thin solid #ccc;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 10px;
    color: white;
    background: #ccc;
}

.btn.btn-primary {
    border-color: #2196F3;
    background: #2196F3;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:active {
    outline: none;
    background: #42A5F5;
    cursor: pointer;
}

.btn-group>.btn:not(:first-of-type):not(:last-of-type) {
    border-radius: 0;
    border-left: thin solid white;
}

.btn-group>.btn:last-of-type {
    border-left: thin solid white;
}

.btn-group>.btn:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group>.btn:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group>.btn.active {
    background: white;
    border: 1px solid #42A5F5;
    color: #42A5F5;
}
