.btn {
    cursor: pointer;
    border: thin solid #ccc;
    border-radius: 8px;
    padding: 4px 8px;
    font-size: 10px;
    color: white;
    background: #ccc;
}

.btn.btn-primary {
    border-color: #2196F3;
    background: #2196F3;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover,
.btn.btn-primary:active {
    outline: none;
    background: #42A5F5;
    cursor: pointer;
}
